<footer>
  <div class="learn_more three columns">
    <h5 class="docs-header">Learn More</h5>
    <P>Read our Blog</P>
    <P>How 2tr works</P>
  </div>

  <div class="need_help three columns">
    <h5 class="docs-header">Contact Center</h5>
    <P>customer@2tr.com</P>
  </div>

  <div class="about_2tr three columns">
    <h5 class="docs-header">About 2tr</h5>
    <P>In the Press</P>
    <P>Jobs</P>
  </div>

  <div class="top_cities three columns">
    <h5 class="docs-header">Top Cities</h5>
    <P>San Francisco</P>
    <P>Vancouver</P>
    <P>Honolulu</P>
  </div>
</footer>

