<div class="grid-container">
<title>2TR Online Learning Can be Easier</title>
<nav>
<div class="logo three columns"></div>
<div class="search three columns"></div>
<div class="authentication three columns"></div>
</nav>
  <div class="hero">
  </div>

  <div class="how_to">
    <div class="how_to_1 three columns">
      <p>Log in or Sign in as a Student
    </div>
    <div class="how_to_2 three columns">
      <p>Enjoy Resources we carefully selected</p>
    </div>
    <div class="how_to_3 three columns">
      <p>If you have a question, connect with one of our tutors</p>
    </div>
  </div>
<!-- float right -->
  <div class="curriculum two columns">
    <ul>
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>Ruby</li>
      <li>Computer Science</li>
    </ul>
  </div>
<!-- float left -->
  <div class="tutor_list two columns">
    <div class="tutor"></div>
  </div>

  <footer>
    <div class="learn_more three columns">
      <li>Read our Blog</li>
      <li>How 2Tr works?</li>
    </div>
    <div class="need_help three columns">
      <li>Contact Center</li>
      <li>customer@2tr.com</li>

    </div>
    <div class="about_2tr three columns">
      <li>In the Press</li>
      <li>Jobs</li>
    </div>
    <div class="top_cities three columns">
      <li>San Francisco</li>
      <li>Vancouver</li>
      <li>Hawaii</li>
    </div>
  </footer>
  <div class='peers'>
  </div>
  <button class='start_video' type='button'>Start video</button>

</div>