<!--
<div id="box_0">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>

<div id="box_1">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>

<div id="box_2">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>

<div id="box_3">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>


<div id="box_4">
  <div id="container">
    <div id="pic-logo">
    </div>
    <ul id="attributes">
    </ul>
  </div>
</div>

<div id="box_5">
  <div id="container">
    <div id="pic-logo">
    </div>
    <ul id="attributes">
    </ul>
    </div>
  </div> -->

  <!-- <div id="container">
    <div id="curriculum-container">
      <div id="box">
        <div id="pic-logo">

        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <div id="curriculum-container">
      <div id="box">
        <div id="pic-logo">

        </div>
      </div>
    </div>
  </div> -->
<!--
  <div id="container">
    <div id="curriculum-container">
      <div id="box">
        <div id="pic-logo">
        </div> -->
      <!-- </div>
    </div>
  </div>
</div> -->




<div id="box_0">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>

<div id="box_1">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>

<div id="box_2">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>

<div id="box_3">
  <div id="container">
      <div id="pic-logo">
      </div>
      <ul id="attributes">
      </ul>
  </div>
</div>


<div id="box_4">
  <div id="container">
    <div id="pic-logo">
    </div>
    <ul id="attributes">
    </ul>
  </div>
</div>

<div id="box_5">
  <div id="container">
    <div id="pic-logo">
    </div>
    <ul id="attributes">
    </ul>
    </div>
  </div>

  <div id="box_6">
  <div id="container">
    <div id="pic-logo">
    </div>
    <ul id="attributes">
    </ul>
    </div>
  </div>