<!-- Not implemented as of yet -->

<h1>Students</h1>

<div class="user-container">
  <% @students.each do |student| %>
    <div class="user" id="<%= student.id %>">
      <img src="<%= student.url %>" >
      <p><%= student.first_name %></p>
      <p><%= student.description %></p>
      <button class="review">Leave Feedback</button>
    </div>
  <% end %>
</div>
