<h1>Tutors</h1>

<div class="user-container">
  <% @tutors.each do |tutor| %>
    <div class="user" id="<%= tutor.id %>">
      <img src="<%= tutor.url %>" alt="Profile">
      <p><%= tutor.first_name %></p>
      <p><%= tutor.description %></p>
      <button class="start_video">Video chat</button>
      <button class="review" id="2">test</button>
    </div>
  <% end %>
</div>
