<iframe src="http://deadsimplechat.com/+FpFYr" frameborder="0" width="800px" height="300px"></iframe>

<div class='videoz'>
  <button class="start_video">Start video</button>
  <button class="end_video">End video</button>
  <%= button_to "home", root_path, method: :get %>
</div>

<div class="video-screen">
</div>

