.hidden {
  display: none;
}

.question {
  border: 1px solid black;
}

.answer {
  border: 1px solid red;
}

.user {
  border: 1px solid black;
  width: 40%;
}

.user p {
  display: inline-block;
}

.user img {
  width: 100px;
  height: 100px;
}
