

#user_nav {
  text-align: center;
  background-color: rgba(217, 101, 76, .2);
  padding: .8%;
  border-radius: 10px 10px 0 0;
  /*display: fixed;*/
  opacity: 1;
  width: 97.35%;
}

#user_nav #not_logged_in a {
  margin: 13.2%;
  text-decoration: none;
  color: black;
}

#user_nav .logged_in a{

  text-decoration: none;
  color: black;
}

.hero {
  background-image: url("Logo2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 604px;
  padding-top: 30%;
}

.main-quote {
  margin: 10px;
  margin-top: 70px;
  margin-bottom: 70px;
  font-family: 'Muli', sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.image{

}

.value-prop {
  width: 30%;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
.how_to {
  height: 200px;
  /*margin: 1%;*/
  /*background-color: rgba(161, 142, 169, .5);*/
  padding: 3%;
}





.curriculum{
  position: relative;
  /*height: 10%;*/
  text-align: center;
  width: 8%;
  /*height: 90px;*/
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
  padding: 3%;
  box-shadow: 10px 10px 5px rgba(150, 54, 54, 0.5);
}
.tutor_list {
  position: relative;
  float: right;
  width: 45%;
  text-align: center;
}

footer {
  background-color: rgba(217, 101, 76, .2);
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 18px;
  margin-top: 25px;
  border-radius: 0 0 10px 10px;
}

.login-render {
  position: absolute;
  background-color: rgba(150, 54, 54, 0.5);
  padding: 35px;
  display: none;
}

.signup-render {
  position: absolute;
  background-color: rgba(150, 54, 54, 0.5);
  padding: 35px;
  display: none;
}

.tutor-render {
  position: absolute;
  background-color: rgba(150, 54, 54, 0.5);
  padding: 35px;
  display: none;
}

.field {
  color: white;
}

.actions {
  color: white;
}

.test {
  display: inline-block;
  width: 30vw;
}

.question_button {
  color: black;
  margin: 20px;
  box-shadow: 10px 10px 5px rgba(150, 54, 54, 0.5);;
}

.side_log {
  color: white;
}

.logged_in_nav {
  display: inline-block;
  width: 18vw;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .main-container {
  /*background-color: #eee;*/
  text-align: center;
  margin-top: 0;
  margin-left: 7%;
  margin-right: 7%;
}
  .curriculum {
    position: relative;
    /*height: 10%;*/
    text-align: center;
    width: 8%;
    /*height: 90px;*/
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    padding: 3%;
  }
}

.re-field {
  color: black;
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}





.linkListing {
background: #000;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;
-o-transition: 0.5s;}

.linkListing:hover {
background: #778899;
transition: 0.5s;
-moz-transition: 0.5s;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
border: 2px solid #4c004c;}

.main {
  text-align: center;
}


.question-container {
  text-align: center;
}