.profile-edit {
  background-image: url("https://ununsplash.imgix.net/19/desktop.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  opacity: .9;
}

.profile-welcome {
  margin-left: 20%;
  padding-top: 4%;
  color: black;
  font-weight: bold;
  font-size: 80px;
}

.profile-welcome2 {
  margin-left: 37%;
  /*padding-top: 2%;*/
  color: black;
  font-weight: bold;
  font-size: 80px;
}

.edit-profile {
  background-color: rgba(0, 0, 0, .2);
  /*display:none;*/
  width:400px;
  padding: 15px;
  display: none;
}

.profile-img {
  width: 200px;
  height: 200px;
  margin-right: 2%;
}

.edit_button {
  display: block;
}

.profile-about {
  width: 70%;
  padding: 1%;
  height: auto;
}

.back-button {
  color: black;
}

.review-container > .review {
  background-color: Rgba(217, 101, 76, 0.2);
  font-size: 1.25em;
  border-radius: 2em;
  padding: 1%;
  margin: 1%;
  width: 60%;
}





