.profile-edit {
  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.profile-img {
  max-width: 150px;
}
.user-detail {
  max-width: 400px;
}

.user-profile {
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
}

.profile-edit {
  position: relative;
  background-image: url("https://ununsplash.imgix.net/19/desktop.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050");
  margin: 0 -30px;
  background-opacity: 0.3;
  background-repeat: no-repeat;
}
