/*.header-container {
  text-align: center;
}*/
.hero-container {
  background-image: url("https://download.unsplash.com/photo-1421757295538-9c80958e75b0");
  /*height: 1500px;*/
  opacity: .8;
}

/*.question {
  background-color: white;
  opacity: .7;
  width: 70%;
  margin-left: 14%;
  margin-top: 10%;
}
*/
.category {
  font-size: 1000%;
  color: white;
}


 p.form_p {
  /*font-size: 500%;*/
  font-style: bold;
 }

.form {
  margin-left: 40%;
  padding-top: 10%;
  opacity: .7;
  width: 40%;

}

textarea {
  width: 50%;
}

#title {
  /*margin-left: 40%;*/
  /*font-size: 100px;*/
  color: white;
}

#content {
  /*margin-left: 2%;*/
  /*font-size: 100px;*/
  color:white;
}


.category_1 {
  margin: 20px;
  color: white;
}

.category_2 {
  /*font-size: 250px;*/
  /*float: right;*/
    color: white;

}


.category1 {
  float: left;
}

.category2 {
  float: right;
}


.question {
  background-color: rgba(217, 101, 76, .2);
  opacity: .7;
  width: 50%;
  margin-left: 25%;
}

.show-answers {
  margin-left: 40%;
}

.hidden {
  display: none;
}

.user {
  border: 1px solid black;
  width: 40%;
}

.user p {
  display: inline-block;
}

.user img {
  width: 100px;
  height: 100px;
}

.review {
  border: 1px solid black;
  width: 40%;
  padding: 1%;
}