.hero-div {
  background-image: url("https://download.unsplash.com/3/doctype-hi-res.jpg");
  opacity: .8;
  height: 500px;
}
.q-title text_area {
  resize:vertical;
  height:700px;
  width:700px;
}

.text_area {
  margin: 0px 0px 15px;
  width: 790px;
  height: 65px;
  resize: none;
}
.question-text {
  background-color: white;
  text-align: center;
  opacity: .9;
  color: black;
}

.question-text h4 {
  /*padding: 40px;*/
}

.hidden {
  display: none;
}

.list-question {
  background-color: #E6FFCC;
}
.list-question h4 {
  text-align: center;
}
.list-question button {

}