.user {
  margin-left: 5%;
  padding: 1%;
  border: 3px dotted #d9cdcd;
  height: 350px;
  width: 40%;
  float: left;
  margin-bottom: 1%;
}

.user > img {
  height: 100px;
  width: 100px;
}

.splash {
  background-image: url("https://download.unsplash.com/uploads/14120938606568dde6e2b/c9e42240");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  opacity: .8;
  margin-bottom: 1%;
}
