.user {
  margin-left: 5%;
  padding: 1%;
  border: 3px dotted #d9cdcd;
  height: 400px;
  width: 40%;
  float: left;
}

.user > img {
  height: 100px;
  width: 100px;
}

.splash {
  background-image: url("https://download.unsplash.com/uploads/14120938606568dde6e2b/c9e42240");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  opacity: .8;
  margin-bottom: 1%;
}
.map-container {
  width: 800px;
  height: 500px;

}
.postcode {
  left: 40px;
  margin-left: 80px;
  display: inline-block;
}
#map-canvas {
  height: 400px;
  width: 400px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  margin-left: 5px;

}
/*#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}*/